# {{ ansible_managed }}

{% if item.comment|d() %}
# {{ item.comment }}

{% endif %}
{% if item.when is undefined or item.when | bool %}
@hook post "/bin/systemctl condrestart fail2ban.service";
@hook flush "/bin/systemctl condrestart fail2ban.service";
{% else %}
# Rule disabled by 'item.when' condition
{% endif %}

